/modular-framework/splunk/etc
/modular-framework/splunk/var
/modular-framework/splunk/hec-app
*.bak
*.bak.*
*.md
/input-parser/*
/modular-framework/aider/*
/modular-framework/aider_backup_1759571260/*
/modular-framework/certs/*
/modular-framework/framework/*
