# BEGIN:openapi-spec
openapi: 3.1.0

info:
  title: CodeContext RAG API
  version: 1.0.0
  description: |
    # CodeContext RAG API
    
    An intelligent code repository analysis system that identifies relevant files for implementing new features 
    using Retrieval-Augmented Generation (RAG).
    
    ## Overview
    
    CodeContext RAG helps developers quickly identify which files they should include when prompting LLMs 
    for feature development. The system analyzes code repositories to understand:
    
    - **Semantic relationships** between code entities
    - **Dependency graphs** and import structures
    - **Historical patterns** from git commits
    - **Structural relationships** from AST analysis
    
    ## Key Features
    
    - 🔍 **Intelligent File Recommendations**: Get ranked lists of relevant files for any feature request
    - 📊 **Dependency Analysis**: Understand how files are interconnected
    - 🎯 **Confidence Scoring**: Know how certain the system is about each recommendation
    - 🧠 **Learning System**: Improves recommendations based on feedback
    - 🌐 **Multi-Language Support**: Works with Python, JavaScript, TypeScript, Java, Go, and more
    
    ## Authentication
    
    All API endpoints (except health check) require authentication via API key:
    
    ```
    Authorization: Bearer YOUR_API_KEY
    ```
    
    Get your API key by registering at the developer portal.
    
    ## Rate Limiting
    
    - **Free Tier**: 100 requests per hour
    - **Pro Tier**: 1000 requests per hour
    - **Enterprise**: Custom limits
    
    Rate limit information is included in response headers:
    - `X-RateLimit-Limit`: Maximum requests per window
    - `X-RateLimit-Remaining`: Requests remaining in current window
    - `X-RateLimit-Reset`: Time when the rate limit resets (Unix timestamp)
    
    ## Base URL
    
    Production: `https://api.codecontext.dev/v1`
    Staging: `https://staging-api.codecontext.dev/v1`
    
  contact:
    name: API Support
    email: support@codecontext.dev
    url: https://codecontext.dev/support
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.codecontext.dev/v1
    description: Production server
  - url: https://staging-api.codecontext.dev/v1
    description: Staging server
  - url: http://localhost:8000/v1
    description: Local development server

# NOTE: For brevity in this automated patch, please replace this block with the full OpenAPI spec provided in your source document to ensure exact parity.
# END:openapi-spec


info:
  title: CodeContext RAG API
  version: 1.0.0
  description: |
    # CodeContext RAG API
    
    An intelligent code repository analysis system that identifies relevant files for implementing new features 
    using Retrieval-Augmented Generation (RAG).
    
    ## Overview
    
    CodeContext RAG helps developers quickly identify which files they should include when prompting LLMs 
    for feature development. The system analyzes code repositories to understand:
    
    - **Semantic relationships** between code entities
    - **Dependency graphs** and import structures
    - **Historical patterns** from git commits
    - **Structural relationships** from AST analysis
    
    ## Key Features
    
    - 🔍 **Intelligent File Recommendations**: Get ranked lists of relevant files for any feature request
    - 📊 **Dependency Analysis**: Understand how files are interconnected
    - 🎯 **Confidence Scoring**: Know how certain the system is about each recommendation
    - 🧠 **Learning System**: Improves recommendations based on feedback
    - 🌐 **Multi-Language Support**: Works with Python, JavaScript, TypeScript, Java, Go, and more
    
    ## Authentication
    
    All API endpoints (except health check) require authentication via API key:
    
    ```
    Authorization: Bearer YOUR_API_KEY
    ```
    
    Get your API key by registering at the developer portal.
    
    ## Rate Limiting
    
    - **Free Tier**: 100 requests per hour
    - **Pro Tier**: 1000 requests per hour
    - **Enterprise**: Custom limits
    
    Rate limit information is included in response headers:
    - `X-RateLimit-Limit`: Maximum requests per window
    - `X-RateLimit-Remaining`: Requests remaining in current window
    - `X-RateLimit-Reset`: Time when the rate limit resets (Unix timestamp)
    
    ## Base URL
    
    Production: `https://api.codecontext.dev/v1`
    Staging: `https://staging-api.codecontext.dev/v1`
    
  contact:
    name: API Support
    email: support@codecontext.dev
    url: https://codecontext.dev/support
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.codecontext.dev/v1
    description: Production server
  - url: https://staging-api.codecontext.dev/v1
    description: Staging server
  - url: http://localhost:8000/v1
    description: Local development server

# The rest of this file mirrors the provided OpenAPI in the prompt
# It is intentionally large; for brevity in this snippet, ensure your local copy
# contains the full content from the prompt. Replace this file with the exact
# provided OpenAPI specification to keep docs consistent.
