*/*.env
/qdrant_storage
/redis_data
*.env
*/collections
*/redis_data
*/logs
/modules/openvscode/workspaces
/modules/RAG/qdrant_storage
/modules/RAG/redis_data
/modules/RAG/logs
/modules/llm-gateway/pgdata/
*.bak
*.bak.*
*/github-hub/data/connections.json
modular-framework/modules/github-hub/data/connections.json